.js-line-active , .nav-hor__border {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 10;
    border-bottom: 3px solid #fff;

    @include transition(all .6s ease);
}

.nav-wrap {
    margin-top: 30px;
    padding: 40px;
    background-color: #FA7020;
}
.nav-hor--borders-sliding {
    position: relative;
    z-index: 10;
    opacity: 0;
    &.is--visible {
        opacity: 1;
        @include transition(all .2s ease-in-out);
    }
    @include mediaMaxWidth(768px) {
        display: none;
    }
}
.nav-hor__item a {
    opacity: 0.75;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;
    @include transition(all .25s ease);
}
.nav-hor__item {
    position: relative;
    display: inline-block;
    padding: 0 0 15px 0;
    margin-right: 40px;
    @include transition(all .5s ease-in-out);
    &:last-child {
        margin-right: 0;
    }
    &.is--active2 {
        a {
            font-weight: 300;
            font-size  : 24px;
            line-height: 28px;
        }
    }
    &.is--active,
    &.is--active2 {
        a {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            opacity: 1;
        }
    }
}